<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7-Zip.CommandLine" version="18.1.0" />
  <package id="coveralls.io" version="1.4.2" />
  <package id="Hangfire.Build" version="0.2.6" />
  <package id="ilmerge" version="3.0.29" />
  <package id="OpenCover" version="4.7.922" />
  <package id="psake" version="4.9.0" />
  <package id="xunit.runner.console" version="2.4.1" />
</packages>