<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hangfire.Core" version="1.7.6" targetFramework="net451" requireReinstallation="true" />
  <package id="Hangfire.SqlServer" version="1.7.6" targetFramework="net451" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="2.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="5.1.1" targetFramework="net451" />
</packages>